[submodule "submodules/ridenum"]
	path = submodules/ridenum
	url = https://github.com/DanMcInerney/ridenum
[submodule "submodules/Responder"]
	path = submodules/Responder
	url = https://github.com/lgandx/Responder
[submodule "submodules/impacket"]
	path = submodules/impacket
	url = https://github.com/CoreSecurity/impacket/
[submodule "submodules/Hob0Rules"]
	path = submodules/Hob0Rules
	url = https://github.com/praetorian-inc/Hob0Rules
[submodule "submodules/JohnTheRipper"]
	path = submodules/JohnTheRipper
	url = https://github.com/magnumripper/JohnTheRipper
