[submodule "submodules/ridenum"]
	path = submodules/ridenum
	url = https://github.com/DanMcInerney/ridenum
[submodule "submodules/Responder"]
	path = submodules/Responder
	url = https://github.com/lgandx/Responder
[submodule "submodules/impacket"]
	path = submodules/impacket
	url = https://github.com/CoreSecurity/impacket/
[submodule "submodules/JohnTheRipper"]
	path = submodules/JohnTheRipper
	url = https://github.com/magnumripper/JohnTheRipper
	branch = bleeding-jumbo
[submodule "submodules/DeathStar"]
	path = submodules/DeathStar
	url = https://github.com/byt3bl33d3r/DeathStar
[submodule "submodules/theHarvester"]
	path = submodules/theHarvester
	url = https://github.com/DanMcInerney/theHarvester
