[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
netaddr = "*"
pexpect = "*"
asyncio = "*"
python-libnmap = "*"
netifaces = "*"
requests = "*"
termcolor = "*"
libtmux = "*"
ipython = "*"
